body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
